.body {
    background-color: darkseagreen;
}

:root{
    --text-color:rgb(228, 14, 6);
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body {
      background: url(https://img.decision-achats.fr/Img/BREVE/2018/9/333647/Blockchain-quel-impact-voyage-affaires--T.jpg);
      background-size: cover;
      background-position: top center;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .form{
      padding: 100px;
      background: #67830167;
      box-shadow: 3px 3px 7px 2px #00000040;
      border-radius: 10px;
  }
  h2{
      color: var(--text-color);
      text-transform: uppercase;
      font-family: sans-serif;
      text-align: center;
      margin-bottom: 30px;
  }
  .inputGroup{
  position: relative;
  }
  input{
      display: block;
      width: 100%;
      min-width: 380px;
      height: 45px;
      background: transparent;
      border: none;
      border-bottom: 2px solid #fff;
      outline: none;
      margin-bottom: 20px;
      color: aliceblue;
      font-size: 20px;
      padding: 10px 10px;
      
  }
  label{
     position: absolute;
     color: aliceblue;
      font-size: 20px;
      top: 10px;
      transition: .3s ease-out;
      pointer-events: none;
  }
  input:focus ~ label,
  input:valid ~ label
  {
      top: -10px;
      color: var(--text-color);
      font-size: 15px;
  }
  input:focus{
      border-bottom: 2px solid var(--text-color);
  }
  input[type="submit"]{
      background:var(--text-color) ;
      border: none;
      text-transform: uppercase;
      font-weight: 550;
      letter-spacing: 3px;
      border-radius: 10px;
      box-shadow: -4px -4px 9px #99999930,
          4px 4px 9px #00000080;
  }
  
  input[type="submit"]:hover{
      box-shadow: -8px -8px 15px  #99999930,
          8px 8px 15px #00000080;
      cursor: pointer;
  }
  input[type="submit"]:active{
      box-shadow: inset -1px -1px 3px  #99999930,
          inset 1px 1px 3px #00000080;
      transform: scale(0.999);
  }
  
  p,a{
      text-align: center;
      color: azure;
      font-family: cursive;
  }
  a{
      text-decoration: none;
      color: var(--text-color);
  }
